{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Bag{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="display-4 mb-4 text-center">Bag</h2>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid" src="{{ item.artwork.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.artwork.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.artwork.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.artwork.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h5>Total: £{{ total|floatformat:2 }}</h5>
                                    <h5>Delivery: £{{ delivery|floatformat:2 }}</h5>
                                    <h4 class="mt-4">Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'artworks' %}" class="btn btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-dark btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'artworks' %}" class="btn btn-dark btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
