{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} | Bag{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="display-4 mb-4 text-center">Bag</h2>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid" src="{{ item.artwork.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.artwork.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.artwork.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.artwork_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-dark btn-sm rounded-0" 
                                                            data-artwork_id="{{ item.artwork.artwork_id }}" id="decrement-qty_{{ item.artwork.artwork_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-artwork_id="{{ item.artwork.artwork_id }}"
                                                        id="id_qty_{{ item.artwork.artwork_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-dark btn-sm rounded-0"
                                                            data-artwork_id="{{ item.artwork.artwork_id }}" id="increment-qty_{{ item.artwork.artwork_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info text-dark"><small>Update</small></a>
                                        <a class="remove-item float-right text-dark" id="remove_{{ item.artwork.artwork_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.artwork.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h5>Total: £{{ total|floatformat:2 }}</h5>
                                    <h5>Delivery: £{{ delivery|floatformat:2 }}</h5>
                                    <h4 class="mt-4">Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'artworks' %}" class="btn btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-dark btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'artworks' %}" class="btn btn-dark btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'artworks/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        
            $('.update-link').click(function(e) {
                e.preventDefault(); 
                var form = $(this).closest('td').find('.update-form');
                form.submit();
            });
    
            $('.remove-item').click(function(e) {
                e.preventDefault();
                var csrfToken = "{{ csrf_token }}";
                var artworkId = $(this).attr('id').split('remove_')[1];
                var url = `/bag/remove/${artworkId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken};
    
                $.post(url, data)
                 .done(function() {
                     location.reload();
                 });
            });
        
    </script>
    
{% endblock %}

