{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Welcome Section -->
    <div class="row welcome-section">
        <div class="col-md-6 d-flex align-items-center justify-content-center text-center">
            <div class="welcome-text">
                <h1 class="display-3 mb-4">Welcome</h1>
                <p class="fs-4">Welcome to ART WITH AMANDA!Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                </p>
                <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.</p>
                <button type="button" class="btn btn-dark btn-lg">Shop Now</button>
            </div>
        </div>
        <div class="col-md-6 p-0 d-flex align-items-center">
            <img src="{% static 'media/homepagephoto.jpg' %}" alt="Welcome Image" class="img-fluid w-100 h-100 object-fit-cover">
        </div>
    </div>

    <!-- About Me Section -->
    <div class="row about-me-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <h2 class="display-4 mb-4">About Me</h2>
                    <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                    </p>
                    <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate, metus eget cursus tincidunt, odio quam blandit nisl, vel cursus justo urna at odio.
                    </p>
                    <button type="button" class="btn btn-dark btn-lg">Gallery</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


