{% extends "base.html" %}
{% load static %}

{% block extra_title %} | {{ artwork.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            {% if artwork.image %}
                <a href="{{ artwork.image.url }}" target="_blank">
                    <img src="{{ artwork.image.url }}" class="img-fluid" alt="{{ artwork.name }}">
                </a>
            {% else %}
                <img src="{% static 'noimage.png' %}" class="img-fluid" alt="{{ artwork.name }}">
            {% endif %}
        </div>
        <div class="col-md-6 mb-4">
            <h2 class="display-4 mb-4">{{ artwork.name }}</h2>
            <p class="lead">{{ artwork.description }}</p>
            <p class="font-weight-bold mb-4">£{{ artwork.price }}</p>
            <form class="form" action="{% url 'add_to_bag' artwork.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ artwork.id }}" id="id_qty_{{ artwork.id }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'artworks' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Shop</span>
                        </a>
                        <input type="submit" class="btn btn-dark rounded-0 text-uppercase mt-5" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}




