{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Shop{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="display-4 mb-4 text-center">Shop</h2>
    <hr>
    <div class="d-flex justify-content-between mb-4">
        <!-- Back to Home Button -->
        <a href="{% url 'home' %}" class="btn btn-dark mb-4">Back to Home</a>

        <!-- Categories Dropdown -->
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu border-0 mb-4" aria-labelledby="categoryDropdown">
                <!-- Show 'All Categories' option -->
                <a class="dropdown-item {% if selected_categories == None %}active{% endif %}" href="{% url 'artworks' %}">
                    All Categories
                </a>
                <!-- Only show the selected category and 'All Categories' if a category is selected -->
                {% if selected_categories %}
                    {% for category in categories %}
                        {% if category.name == selected_categories.0 %}
                            <a class="dropdown-item active" href="{% url 'artworks' %}?category={{ category.name }}">
                                {{ category.name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <!-- Show all categories if no category is selected -->
                    {% for category in categories %}
                        <a class="dropdown-item {% if category.name in selected_categories %}active{% endif %}" 
                           href="{% url 'artworks' %}?category={{ category.name }}{% if selected_categories and category.name != selected_categories.0 %}&category={{ selected_categories|join:"&category=" }}{% endif %}">
                           {{ category.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Artworks Grid -->
    <div class="row">
        {% for artwork in artworks %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-container">
                        <img src="{{ artwork.image.url }}" class="card-img-top img-fluid" alt="{{ artwork.name }}">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-title">{{ artwork.name }}</p>
                        <div class="mt-auto">
                            <p class="card-text font-weight-bold">£{{ artwork.price }}</p>
                            <a href="{% url 'artwork_detail' artwork.id %}" class="btn btn-dark">View Details</a>
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_artwork' artwork.id %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_artwork' artwork.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No artworks available at the moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}