{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="display-4 mb-4 text-center">Order Complete</h2>
                <hr>
                <div class="text-center">
                    <p class="lead">Thank you for your order, {{ order.full_name }}!</p>
                    <p class="lead">Your order number is <strong>{{ order.order_number }}</strong>.</p>
                    <p class="text-muted">A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                    <p class="text-muted">If you have any questions about your order, feel free to <a href="">contact us</a>.</p>
                </div>
                <div class="order-summary mt-5">
                    <h4 class="text-center">Order Summary</h4>
                    <table class="table table-bordered mt-3">
                        <tr>
                            <th>Full Name</th>
                            <td>{{ order.full_name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ order.email }}</td>
                        </tr>
                        <tr>
                            <th>Order Total</th>
                            <td>£{{ order.order_total }}</td>
                        </tr>
                        <tr>
                            <th>Delivery Cost</th>
                            <td>£{{ order.delivery_cost }}</td>
                        </tr>
                        <tr>
                            <th>Grand Total</th>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center mt-4">
                    <a href="{% url 'artworks' %}" class="btn btn-dark">
                        <span class="text-center">Back to Shop</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


