@import url('https://fonts.googleapis.com/css2?family=Arapey:wght@400&family=Raleway:wght@400;700&display=swap');

/* Global Styles */
body {
    font-family: 'Raleway', sans-serif; 
}

/* Headings Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arapey', serif; 
}

/* Navbar Styles */
.navbar {
    background-color: #333232;
}

.navbar-brand {
    font-family: 'Arapey', serif;
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: white !important;
}

.nav-link i {
    width: 20px;
    height: 20px;
}

.dropdown-menu {
    background-color: #333232;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #555;
}



/* Footer Styles */
.footer {
    background-color: #333232;
}

.footer .footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer .footer-logo-img {
    height: 30px; 
}

.footer .footer-logo-text {
    font-family: 'Arapey', serif;
    font-size: 1.5rem;
    color: #ffffff
}

.btn-dark {
    background-color: #333232;
    border-color: #333232;
}

.btn-dark:hover {
    background-color: #444343;
    border-color: #444343;
}

.about-me-section {
    background-color: #e7e7e7 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-me-content {
    text-align: center;
}

.card {
    border: 1px solid #ddd; 
    overflow: hidden;      
    height: 100%;
    border-radius: 0;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
    border-radius: 0;
}

/* Card body styles */
.card-body {
    padding: 1.5rem; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Card title and text */
.card-name {
    font-size: 1.25rem; 
    margin-bottom: 1rem; 
    border-radius: 0;
}

.card-text {
    font-size: 1rem; 
}

.dropdown-item.active {
    background-color: #e7e7e7 ; /* Light grey background */
    color: #333232 !important ;
}
