@import url('https://fonts.googleapis.com/css2?family=Arapey:wght@400&family=Raleway:wght@400;700&display=swap');

/* Global Styles */
body {
    font-family: 'Raleway', sans-serif; 
}

/* Headings Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arapey', serif; 
}

/* Navbar Styles */
.navbar {
    background-color: #333232;
}

.navbar-brand {
    font-family: 'Arapey', serif;
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: white !important;
}

.nav-link i {
    width: 20px;
    height: 20px;
}

.dropdown-menu {
    background-color: #333232;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #555;
}

.about-me-section {
    background-color: #e7e7e7 !important;
}

/* Footer Styles */
.footer {
    background-color: #333232;
}

.footer .footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer .footer-logo-img {
    height: 30px; 
}

.footer .footer-logo-text {
    font-family: 'Arapey', serif;
    font-size: 1.5rem;
    color: #ffffff
}